

.square-card {
    padding: 0;
    width: 50%;
    font: {
        family: $font;
        size: 1rem;
    }
    border-radius: 0;
    box-shadow: none;
    
    .photo {
        position: relative;
        width: 100%;
        overflow: hidden;

        &::before {
            content: '';
            display: block;
            padding-top: 53%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            max-width: 100%;
        }
    }

    .infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3% 5%;
        color: $white;
        background: $main-color;
    }
    .infos__date {
        text-align: left;
        line-height: 1.2rem;
        letter-spacing: 0.07em;
    }
    .infos__hour {
        display: block;
    }
    .infos__plates {
        font: {
            family: $fontCdn;
            size: 2.4rem;
        }
        line-height: 1;
    }

    .desc {
        padding: 5%;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: 0.1em;
        text-align: left;
        border: 2px solid $main-color;

        span {
            font-weight: 500;
        }
    }
}

