.cards-container {
    background: transparent;

    .card {
        margin: 8px 0;
    }

    .card__title {
        font-size: 1.4rem;
        line-height: 1.2;
        text-align: left;
    }

    .list-item {
        padding-left: 0;
    }
}

.square-cards {
    display: flex;

    .list-item {
        //width: 50%;

        &:nth-child(2n+2){
            padding-left: 20px;
        }
    }

    .card__title {
        
    }
}

