.guest {

}

.guest__number {
  font-family: $fontCdn;
  font-size: $size-1;
}

.guest__icon {

}

.guest__number--small {
  font-size: $size-2;
  font-family: $fontCdn;
  letter-spacing: $lspacing-2;
}
