.headpage {
  position: relative;
  background: #eee;
  padding-bottom: .5rem;
}

.headpage__inner {
  padding-top: 3rem;
}

/**
 * TOP BAR
 */

.headpage__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}


.headpage__back {

}

.headpage__reminder {
  font-weight: 500;
  font-size: 1.4rem;
  @include text-with-border($white);
  color: $white;
  font-family: $font;
}

/**
 * TITLES
 */

.headtitle {
  padding-top: 7rem;
  margin-bottom: 2rem;
}

.headpage__title {
    margin: 0;
    @include title-lvl-1();
    color: $white;
}

.headpage__subtitles {
  display: flex;
  justify-content: space-between;
  color: $white;
}

.headpage__subtitle {
  margin: 0;
  @include title-lvl-2();
  color: $white;
}

.headpage__icon {
  font-size: 1.8rem;
}
