.tag__list {
  display: flex;
  margin-bottom: 2.5rem;

}

.tag__list {
  margin-bottom: 2.5rem;
}

.tag {
  padding: .8rem 1rem;
  margin-right: 1rem;
  color: $white;
  font-weight: 500;
}

.tag--lgreen {
  @extend .tag;
  background: #B8E986;
}

.tag--dgreen {
  @extend .tag;
  background: #219333;
}
