.user {
  display: flex;
  margin-bottom: 2rem;
}

.user__photo {
  display: block;
  background: $main-color;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 1.5rem;
}

.user__infos {

}

.user__name {
  font-size: $size-2;
  letter-spacing: $lspacing-2;
  text-transform: uppercase;
  font-family: $fontCdn;
}

/**
 * VERSION BIG
 */

.user--big {
  text-align: center;
  margin: 3rem 0 4rem;
}

.user__photo--big {
  display: block;
  margin: 0 auto 1.5rem auto;
  width: 75px;
  height: 75px;
  background: #eee;
  border-radius: 100px;
}
