.meal-invitations {
  .icon-fork-knife--dark {
    font-size: 1.8rem;
    &:before {
      color: $body-color !important;
    }
  }
}

.meal-invitations__headtitle {
  padding-top: 1rem;
  .headpage__subtitles {
    margin-bottom: 3rem;
  }
}

.meal-invitations__title {
  margin: 3rem 0 4rem;
}
