.page {
  padding-bottom: 4rem;
}

.page__inner {
    padding: 0 20px;
}

.page__body {
  padding-top: 3.5rem;
}

.page__background {
    background: $white;
}

.section {
  margin-bottom: 2.5rem;
}

.sq-list__item {
  margin-bottom: 1rem;
}

.icon-fork-knife--dark:before {
  color: $body-color !important;
}
