/**
 * FONT NORMAL
 * @type {String}
 */

@font-face {
    font-family: 'Knockout';
    src: url('../assets/fonts/Knockout-HTF51-Middleweight.eot');
    src: url('../assets/fonts/Knockout-HTF51-Middleweight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Knockout-HTF51-Middleweight.woff2') format('woff2'),
        url('../assets/fonts/Knockout-HTF51-Middleweight.woff') format('woff'),
        url('../assets/fonts/Knockout-HTF51-Middleweight.ttf') format('truetype'),
        url('../assets/fonts/Knockout-HTF51-Middleweight.svg#Knockout-HTF51-Middleweight') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout';
    src: url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.eot');
    src: url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.woff2') format('woff2'),
        url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.woff') format('woff'),
        url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.ttf') format('truetype'),
        url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.svg#Knockout-HTF31-JuniorMiddlewt') format('svg');
    font-weight: 400;
    font-style: normal;
}

/**
 * CONDENSED FONT
 * @type {String}
 */

@font-face {
    font-family: 'KnockoutCdn';
    src: url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.eot');
    src: url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.woff2') format('woff2'),
        url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.woff') format('woff'),
        url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.ttf') format('truetype'),
        url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.svg#Knockout-HTF27-JuniorBantamwt') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KnockoutCdn';
    src: url('../assets/fonts/Knockout-HTF67-FullBantamwt.eot');
    src: url('../assets/fonts/Knockout-HTF67-FullBantamwt.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Knockout-HTF67-FullBantamwt.woff2') format('woff2'),
        url('../assets/fonts/Knockout-HTF67-FullBantamwt.woff') format('woff'),
        url('../assets/fonts/Knockout-HTF67-FullBantamwt.ttf') format('truetype'),
        url('../assets/fonts/Knockout-HTF67-FullBantamwt.svg#Knockout-HTF67-FullBantamwt') format('svg');
    font-weight: 500;
    font-style: normal;
}
