/**
 * FONT NORMAL
 * @type {String}
 */

@font-face {
    font-family: 'Knockout';
    src: url('../assets/fonts/Knockout-HTF51-Middleweight.eot');
    src: url('../assets/fonts/Knockout-HTF51-Middleweight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Knockout-HTF51-Middleweight.woff2') format('woff2'),
        url('../assets/fonts/Knockout-HTF51-Middleweight.woff') format('woff'),
        url('../assets/fonts/Knockout-HTF51-Middleweight.ttf') format('truetype'),
        url('../assets/fonts/Knockout-HTF51-Middleweight.svg#Knockout-HTF51-Middleweight') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout';
    src: url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.eot');
    src: url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.woff2') format('woff2'),
        url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.woff') format('woff'),
        url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.ttf') format('truetype'),
        url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.svg#Knockout-HTF31-JuniorMiddlewt') format('svg');
    font-weight: 400;
    font-style: normal;
}

/**
 * CONDENSED FONT
 * @type {String}
 */

@font-face {
    font-family: 'KnockoutCdn';
    src: url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.eot');
    src: url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.woff2') format('woff2'),
        url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.woff') format('woff'),
        url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.ttf') format('truetype'),
        url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.svg#Knockout-HTF27-JuniorBantamwt') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KnockoutCdn';
    src: url('../assets/fonts/Knockout-HTF67-FullBantamwt.eot');
    src: url('../assets/fonts/Knockout-HTF67-FullBantamwt.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Knockout-HTF67-FullBantamwt.woff2') format('woff2'),
        url('../assets/fonts/Knockout-HTF67-FullBantamwt.woff') format('woff'),
        url('../assets/fonts/Knockout-HTF67-FullBantamwt.ttf') format('truetype'),
        url('../assets/fonts/Knockout-HTF67-FullBantamwt.svg#Knockout-HTF67-FullBantamwt') format('svg');
    font-weight: 500;
    font-style: normal;
}

/**
 * ICOMOON ICONS
 */

 @font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon.eot?sa3vhx');
    src:  url('../assets/fonts/icomoon.eot?sa3vhx#iefix') format('embedded-opentype'),
      url('../assets/fonts/icomoon.ttf?sa3vhx') format('truetype'),
      url('../assets/fonts/icomoon.woff?sa3vhx') format('woff'),
      url('../assets/fonts/icomoon.svg?sa3vhx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-checked:before {
  content: "\e906";
  color: #f48632;
}
.icon-plus:before {
  content: "\e90c";
  color: #f48632;
}
.icon-checked:before {
  content: "\e906";
  color: #f48632;
}
.icon-heart:before {
  content: "\e907";
  color: #f48632;
}
.icon-pencil:before {
  content: "\e908";
  color: #fff;
}
.icon-quotes-left:before {
  content: "\e909";
  color: #f48632;
}
.icon-quotes-right:before {
  content: "\e90a";
  color: #f48632;
}
.icon-star:before {
  content: "\e90b";
}
.icon-add-event .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.icon-add-event .path2:before {
  content: "\e905";
  margin-left: -1.5em;
  color: rgb(244, 134, 50);
}
.icon-reservation:before {
  content: "\e900";
  color: #f48632;
}
.icon-user:before {
  content: "\e901";
  color: #f48632;
}
.icon-arrow-back:before {
  content: "\e902";
  color: #fff;
}
.icon-fork-knife:before {
  content: "\e903";
  color: #fff;
}
