.link__huge {
  display: block;
  text-transform: uppercase;
  font-family: $fontCdn;
  letter-spacing: $lspacing;
  font-size: $size-1;
}

.link__huge--orange {
  @extend .link__huge;
  color: $main-color;
}

.link__huge--white {
  @extend .link__huge;
  color: $white;
}
