.page__content .headbar h1 {
    margin: 0;
    padding: 15px 20px;
    font: {
        family: $fontCdn;
        size: 3.4rem;
        weight: 400;
    }
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;

    .city {
        font-weight: 500;
        text-decoration: underline;
    }
}

.list-title {
    margin: 50px 0 25px 0;
    font-size: 2.8rem;
    padding-left: 0;
}

.list-title__title {
  text-transform: uppercase;
  @include title-lvl-2();
  font-weight: 400;
  padding-left: 0;
  padding-bottom: 4px;
  border-bottom: 2px solid $main-color;
}

.title {
  @include title-lvl-1();
}

.title--white {
  @include title-lvl-1();
  // color: $white;
}
