.headbar h1 {
    margin: 0;
    padding: 15px 20px;
    font-family: $fontCdn;
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;

    .headbar__city {
        font-weight: 500;
    }
}

.list-title {
    margin: 50px 0 25px 0;
    font-size: 2.8rem;
    padding-left: 0;
}

.list-title__title {
  text-transform: uppercase;
  font-family: $fontCdn;
  font-size: 3rem;
  font-weight: 400;
  padding-left: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid $main-color;
}

@mixin title-lvl-1() {
  font: $fregular $size-1 $fontCdn;
  text-transform: uppercase;
  letter-spacing: $lspacing;
  line-height: initial;
}

@mixin title-lvl-2() {
  font: $fregular $size-2 $fontCdn;
  text-transform: uppercase;
  letter-spacing: $lspacing-2;
  line-height: initial;
}

.title {
  @include title-lvl-1();
}
